.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

images/
*.png
*.jpg
*.jpeg.*.gif
*.bmp
*.tiff
*.ico
*.webp

*.nc

logs/

config.py

test.py

demo.py

