<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NetCDF Filet To Database</h1>
    <div>
        <div>
            <a href="/"><p>NetCDF Home</p></a>
        </div>
    </div>
    <div>
        <form method="post" action="/nctodb/upload">
            <!-- directory 선택 대화상자 표시 -->
            <input type="file" name="file" accept="".nc" value="NETCDF 파일 선택..." webkitdirectory multiple placeholder="NetCDF 파일 선택..">
            
            <!-- 업로드 버튼-->
            <button type="submit" name="upload">Upload</button>

        </form>
    </div>

</body>
</html>